@import "../../../variable.module.scss";

.eventMemoryContainer {
  padding: 24px;
  background-color: $whiteColor;
  border-radius: 8px;
  margin-bottom: 32px;
  box-shadow: 0 8px 12px 2px gray;
  min-height: 50vh;
  .mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    .eventListContainer {
      .eventMemoryList {
        padding-left: 0;
        list-style: none;
        height: 400px;
        overflow-y: auto;
        .eventMemoryItem {
          padding: 8px;
          border: 1px solid;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .imgTitleContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            .eventTitle {
              font-size: 24px;
              font-weight: 600;
            }
            .eventImg {
              height: 80px;
            }
          }
          .iconContainer {
            display: flex;
            align-items: center;
            .actionIcon {
              height: 40px;
              cursor: pointer;
            }
          }
        }
      }
    }
    .eventFormContainer {
      .formRow {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        .formItem {
          width: 50%;
          .genRoomBtn {
            background-color: $primaryBtnColor;
            color: $whiteColor;
            font-size: 16px;
            font-weight: 600;
          }
          .eventLabel {
            display: block;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
  .formDevider {
    margin-top: 16px;
    width: 100%;
    height: 1px;
    background-color: $borderColor;
  }
  .btnContainer {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .resetBtn {
      margin-right: 40px;
    }
    .submitbtn {
      background-color: $secondaryBtnColor;
      color: $whiteColor;
    }
  }
}
.displyImg {
  height: 200px;
}
