@import "../../../variable.module.scss";

.roomBookingContainer {
  padding: 24px;
  background-color: $whiteColor;
  border-radius: 8px;
  margin-bottom: 32px;
  box-shadow: 0 8px 12px 2px gray;
  .roomHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    .checkboxContainer {
      display: flex;
      align-items: center;
      width: 240px;
      .checbox {
        flex: 1;
        height: 24px;
      }
      .checkboxLabel {
        width: 100%;
        display: block;
      }
    }
    // .filterContainer {
    //   display: flex;
    //   .selectFilter {
    //     margin-right: 24px;
    //   }
    // }
    .actionContainer {
      display: flex;
      align-items: center;

      .selectFilter {
        margin-right: 24px;
      }
      .clearFilter {
        padding: 16px !important;
        margin-right: 16px;
        &:hover {
          color: $whiteColor;
          background-color: $tertiaryCardColor;
        }
      }
      .addRoomBtn {
        display: flex;
        align-items: center;
        background-color: $primaryBtnColor;
        color: $whiteColor;
        font-size: 600;
        margin-right: 8px;
        svg {
          height: 24px;
          width: 24px;
        }
        &:hover {
          color: $whiteColor;
          background-color: $tertiaryCardColor;
          font-weight: 700;
        }
      }
      .refreshIocn {
        cursor: pointer;
        height: 32px;
        margin-right: 24px;
      }
    }
  }
  .subHeadingContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    .roomIndicatorsParent {
      display: flex;
      align-items: center;
      .roomIndicatorLabel {
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        margin-right: 8px;
      }
      .roomIndicators {
        display: flex;
        margin-right: 16px;
        color: $whiteColor;
        font-weight: 700;
        .primaryCard {
          background-color: $primaryCardColor;
        }
        .secondaryCard {
          background-color: $secondaryCardColor;
        }
        .tertiaryCard {
          background-color: $tertiaryCardColor;
        }
        .indicatorContainer {
          padding: 8px;
          width: 90px;
          box-shadow: 5px 5px 8px 3px gray;
          border-radius: 8px;
          margin-right: 12px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .subheading {
      display: flex;
      align-items: center;
      .alottedLabel {
        margin-left: 4px;
        font-weight: 700;
      }
    }
  }
  .roomBookingTableContainer {
    .roomTable {
      .tableHeaderRowItem {
        text-align: left;
        font-size: 20px;
        color: #6c757d;
        font-weight: 600;
        padding: 16px;
        &:nth-child(1) {
          width: 6%;
        }
        &:nth-child(2) {
          width: 18%;
        }
        &:nth-child(3) {
          width: 5%;
        }
        &:nth-child(4) {
          width: 30%;
        }
        &:nth-child(5) {
          width: 6%;
        }
        &:nth-child(6) {
          width: 30%;
        }
      }
      .tableDataRow {
        padding: 8px 16px;
        &:nth-child(even) {
          background-color: #dadcdd;
        }
        .tableDataRowItem {
          text-align: left;
          font-size: 17px;
          font-weight: 500;
          padding: 16px;
          .actionIcon {
            height: 24px;
            cursor: pointer;
            &:first-child {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
}

.addRoomBtnContainer {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
  width: 48px;
  &:hover {
    color: $whiteColor;
    background-color: $tertiaryCardColor;
  }
  .plusIcon {
    font-size: 16px;
  }
}

.extraCol {
  width: 6% !important;
}

.noData {
  text-align: center;
  margin-top: 32px;
}
.idProof {
  height: 32px;
  cursor: pointer;
}
.mainText {
  text-transform: capitalize;
}
.idProofParentContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: hsl(300deg 2.04% 11.3% / 76%);
  z-index: 100;
  .idProofContainer {
    width: 640px;
    background-color: white;
    padding: 16px;
    border-radius: 16px;
    .header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 16px;
    }
  }
}
.userIdImg {
  width: 100%;
}

.tableHeader {
  font-size: 24px;
}
.selectInput {
  height: 24px;
  width: 24px;
}

.roomCircleContainer {
  display: flex;
  flex-direction: column;
}
.parentRoomCircle {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  .roomCircle {
    margin-right: 4px;
    margin-bottom: 2px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 14px;
    padding: 6px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $whiteColor;
    font-weight: 600;
    width: 32px;
  }
}
.headerInput {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.noOfBedperRoomContainer {
  display: flex;
  flex-direction: column;
  .noOfBedItem {
    height: 50px;
  }
}

.landmarkHeader {
  width: 240px;
}

.landmarkContainer {
  display: flex;
  flex-direction: column;
  .landMarkItem {
    height: 50px;
  }
}

.selectFilter {
  width: 240px;
}
.addIcon {
  height: 16px;
  margin-right: 8px;
}

.bhavanCardContainer {
  .bhavanCard {
    padding: 8px 16px;
    background-color: $primarybgColor;
    border-radius: 12px;
    margin-bottom: 12px;
    .bhavanCardHeader {
      display: flex;
      .bhavanCardLableContainer {
        margin-right: 8px;
        font-size: 18px;
        .labelValue {
          font-weight: 700;
          font-size: 20px;
        }
      }
    }
    .bhavanRoomContainer {
      margin-top: 16px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
    }
  }
}

.AddRoomIcon {
  cursor: pointer;
  height: 28px;
  width: 28px;
}

.btnDisable {
  background-color: $primarybgColor !important;
  cursor: not-allowed;
  color: black !important;
}
