@import "../../variable.module.scss";

.idProofParentContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: hsl(300deg 2.04% 11.3% / 76%);
  z-index: 100;
  .idProofContainer {
    width: 640px;
    background-color: white;
    padding: 16px;
    border-radius: 16px;
    .header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 16px;
      .idProof {
        height: 32px;
        cursor: pointer;
      }
    }
    .userIdImg {
      width: 100%;
    }
  }
}
