@import "../../variable.module.scss";

.tableContainer {
  table {
    border-spacing: 0;
    border: 1px solid black;
    table-layout: fixed;
    tr {
      :last-child {
        td {
          border-bottom: 0;
        }
      }
    }

    th:nth-child(1),
    td:nth-child(1) {
      width: 8%;
    }
    td:nth-child(2) {
      width: 5%;
    }
    td:nth-child(3) {
      width: 3%;
    }
    td:nth-child(4) {
      width: 3%;
    }
    td:nth-child(5) {
      width: 3%;
    }
    td:nth-child(6) {
      width: 10%;
    }
    td:nth-child(7) {
      width: 6%;
    }
    td:nth-child(8) {
      width: 10%;
    }
    td:nth-child(9) {
      width: 12%;
    }
    td:nth-child(10) {
      width: 7%;
    }
    td:nth-child(11) {
      width: 7%;
    }
    td:nth-child(12) {
      width: 7%;
    }

    th,
    td {
      text-align: left;
      overflow: hidden;
      margin: 0;
      padding: 0.5rem;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      :last-child {
        border-right: 0;
      }
    }
  }
}
