@import "../../../variable.module.scss";

.attendenceViewContainer {
  padding: 24px;
  background-color: $whiteColor;
  border-radius: 8px;
  margin-bottom: 32px;
  box-shadow: 0 8px 12px 2px gray;
  .roomHeading {
    display: flex;
    flex-direction: column;
    .labourDataContainer {
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;
      .data {
      }
      .actionContainer {
        display: flex;
      }
    }
    .refreshIocn {
      cursor: pointer;
      height: 32px;
      margin-right: 24px;
    }
  }
  .attendenceContainer {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    .dayContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $borderColor;
      border-radius: 4px;
      padding: 16px 32px;
      flex-direction: column;
    }
  }
}
.dayPresent {
  color: $whiteColor;
  background-color: $secondaryCardColor;
  border: 1px solid !important;
}
.labelHeading {
  font-size: 20px;
}
.labelValue {
  font-size: 22px;
  font-weight: 700;
  margin-left: 8px;
  text-transform: capitalize;
}
.monthValue {
  font-size: 22px;
  font-weight: 700;
}
.monthHeading {
  font-size: 20px;
}

.arrowContainer {
  display: flex;
  justify-content: end;
}
.btnDisable {
  background-color: $primarybgColor !important;
  cursor: not-allowed;
  color: black !important;
}
.paid {
  background-color: $paidColro !important;
}

.btnContainerTwo {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  .receiptbtn {
    padding: 16px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: $whiteColor;
    background-color: $secondaryBtnColor;
    text-decoration: none;
  }
  .markAsPaidbtn {
    margin-top: 8px;
    color: $whiteColor;
    background-color: $primaryBtnColor;
  }
}

.idProof {
  height: 32px;
  cursor: pointer;
}

.idProofParentContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: hsl(300deg 2.04% 11.3% / 76%);
  z-index: 100;
  .idProofContainer {
    width: 640px;
    background-color: white;
    padding: 16px;
    border-radius: 16px;
    .header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 16px;
    }
  }
}
